@font-face {
  font-family: 'Nexa';
  src: url('../fonts/NexaDemo-Light.eot');
  src: url('../fonts/NexaDemo-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NexaDemo-Light.woff2') format('woff2'),
      url('../fonts/NexaDemo-Light.woff') format('woff'),
      url('../fonts/NexaDemo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/NexaDemo-Bold.eot');
  src: url('../fonts/NexaDemo-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NexaDemo-Bold.woff2') format('woff2'),
      url('../fonts/NexaDemo-Bold.woff') format('woff'),c
      url('../fonts/NexaDemo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #767676;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.navigation-header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 100;
}

.navigation-header.is-sticky {
  background: #fff;
}

.navigation-header img {
  transition: all .3s ease-in-out;
}

.navigation-header.is-sticky img {
  width: 200px!important;
}

.nav-link {
  padding: 0 5%;
  color: #444;
}

.nav-link.active {
  color: #3955a8;
  font-weight: bold;
}
.close-nav-btn,
.responisve-nav {
  display: none;
}

.equal-height .process-item{
  min-height: 333px;
}

.relative {
  position: relative;
}

.ml-auto {
  margin-left: auto;
}

.feature-card {
  min-height: 340px;
}

.our-process-number {
  font-size: 300px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 1em;
  color: #666;
  opacity: .05;
}

#process .process-thumb img {
  max-width: 80px;
}

#about .about-item-image {
  position: sticky;
  top: 100px;
}

/* T E M P */
/* #footer .footer-social-col,
#footer .footer-legal-col {
  width: 18%;
} 

#footer .footer-contact-col {
  width: 35%;
} */

#footer .footer-contact-col .footer-address-item {
  margin-bottom: 0;
}

body .page-bg-ultra {
  position: relative;
}

body .page-bg-ultra::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url(../images/page-bg/bg-ultrawide.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

body .section-title.section-title-lg {
  max-width: 855px;
}
p {
  color: #767676;
  line-height: 1.6;
}

.project-section{
  height: calc(100vh - 70px);
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1320px !important;
}

.header-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.header-bg-shape {
  position: relative;
  background-image: url(../images/homepage-one/header-bg-shape.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.header-image-shape {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-bottom-1 {
  border-bottom: 1px solid #eee;
}

.header-content {
  position: relative;
  z-index: 11;
  padding-left: 25px;
}
.header-content h1 {
  margin-bottom: 10px;
}
.header-content p {
  font-size: 18px;
  margin-bottom: 25px;
}
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-btn {
  padding: 15px 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  z-index: 0 !important;
  background-color: #3955a8;
  -webkit-box-shadow: 0px 7px 51px 0px rgb(31 18 253 / 12%);
  box-shadow: 0px 7px 51px 0px rgb(31 18 253 / 12%);
}

.pb-30 {
  padding-bottom: 30px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pt-min-100 {
  padding-top: calc(100px - 8px);
}
.section-title {
  max-width: 575px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  position: relative;
  line-height: 1.4;
}
.feature-card {
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 54px 0px rgb(32 32 32 / 10%);
  box-shadow: 0px 9px 54px 0px rgb(32 32 32 / 10%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #fff;
}
.feature-card {
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 54px 0px rgb(32 32 32 / 10%);
  box-shadow: 0px 9px 54px 0px rgb(32 32 32 / 10%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #fff;
}
.feature-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.feature-card-thumb.feature-card-thumb-green {
  background-color: #3955A8;
  color: #fff;
}
.feature-card-thumb.feature-card-thumb-blue {
  background-color: #8e40cd;
  color: #fff;
}
.feature-card-thumb.feature-card-thumb-yellow {
  background-color: #506DC4;
  color: #fff;
}
.feature-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

.feature-card-header span {
  color: #000;
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}
.feature-card-thumb {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 35px;
}
.feature-card-header span {
  color: #000;
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}
.bg-off-white {
  background-color: #f7f8fb;
}
.pt-100 {
  padding-top: calc(100px - 8px);
}
.pt-min-100 {
  padding-top: calc(100px - 8px);
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pt-min-100 {
  padding-top: calc(100px - 8px);
}

.about-item-details .section-title {
  margin-bottom: 18px;
}
.section-title {
  max-width: 575px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.section-title small {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #3955a8;
}
.section-title.section-title-left {
  max-width: 100%;
  text-align: left;
}
.about-content p {
  margin-bottom: 25px;
}
.page-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-main {
  background: #3955a8;
}
.section-title.section-title-white small {
  color: #fff;
}
.section-title.section-title-white h2 {
  color: #fff;
}
.section-title.section-title-white p {
  color: #fff;
}
.section-title.section-title-white p a {
  color: #fff;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  /* margin-bottom: 16px; */
  position: relative;
  line-height: 1.4;
  margin-bottom: 0;
}
.section-title p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
}
.main-btn.main-btn-white {
  background-color: #fff;
  color: #3955a8;
}
.main-btn.main-btn-white:hover {
  background-color: #3955a8;
  color: #fff;
}
.process-item:hover .process-thumb img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.process-item.border {
  padding: 30px;
  background-color: #fff;
}
.process-thumb {
  margin-bottom: 20px;
  position: relative;
}
.process-thumb img {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s, -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
}
.process-text h3 {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.contact-form-box {
  padding: 40px 40px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 54px 0px rgba(32, 32, 32, 0.1);
          box-shadow: 0px 9px 54px 0px rgba(32, 32, 32, 0.1);
}

.contact-form-box .contact-form-item .section-title {
  margin-bottom: 30px;
}
#contactForm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.form-control {
  padding: 15px 25px;
  color: #000;
  font-size: 15px;
  background-color: #f7f8fb;
  height: auto;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.help-block.with-errors {
  color: #ff5421;
}

.input-checkbox label {
  position: relative;
  padding-left: 35px;
  color: #767676;
  margin-bottom: 0;
  font-size: 15px;
}

.input-checkbox label a {
  color: #3955a8;
}

.input-checkbox label a:hover {
  color: #3955a8;
}

.input-checkbox label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  padding-left: 4px;
  line-height: 1;
  top: 1px;
  border-radius: 5px;
}

.input-checkbox input {
  display: none;
}

.input-checkbox input:checked ~ label:before {
  color: #fff;
  font-family: Flaticon;
  background-color: #3955a8;
  border-color: #3955a8;
}
.flaticon-rounded-check-mark:before { content: "\f110"; }

.input-checkbox input:checked ~ label:before {
  color: #fff;
  content: "\f110";
  font-family: Flaticon;
  background-color: #3955a8;
  border-color: #3955a8;
}

.input-checkbox label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  padding-left: 4px;
  line-height: 1;
  top: 1px;
  border-radius: 5px;
}
.main-btn:hover {
  color: #fff;
  background-color: #1509d8;
}
.footer-content-item {
  margin-bottom: 20px;
}
.footer-content-title h3 {
  font-size: 22px;
  margin-bottom: 0;
}
.footer-details {
  margin-top: 20px;
}

.footer-details p {
  margin-bottom: 15px;
  color: #000;
}

.footer-details p:last-child {
  margin-bottom: 0;
}

.footer-list {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.footer-list li {
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
  list-style: none;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list li a {
  color: #000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-list li p {
  margin-top: 3px;
}

.footer-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 5px;
  height: 5px;
  background: #3955a8;
}

.footer-list li:hover a {
  color: #3955a8;
}
.footer-address-text h4 {
  font-size: 18px;
  margin-bottom: 7px;
}

@media (max-width: 460px) {
  body .navigation-header .logo{
    width: 60%;
  }

  body .desktop-nav {
    display: none;
  }

  body .responsive-btn {
    padding-right: 16px;
  }

  body .responsive-btn span {
    display: block;
    width: 25px;
    height: 8px;
    border-top: 2px solid #444;
  }

  body .navigation-header {
    height: 70px;
  }

  body .navigation-header .col-md-5 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  body .desktop-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0; top: 0;
    width: 102%;
    height: 100vh;
    background: #444;
    transform: translateX(800px);
    transition: all .4s ease-in-out;
    z-index: 100;
    padding-top: 30px;
  }

  body .desktop-nav a {
    color: #fff;
    flex: none;
    height: 50px;
    line-height: 50px;
    width: 101%;
    text-align: center;
    font-size: 18px;
  }

  body .close-nav-btn {
    position: fixed;
    right: 27px;
    top: -1px;
    width: 40px;
    display: block;
    color: #fff;
    font-size: 40px;
    z-index: 101;
  }

  body .desktop-nav.open {
    transform: translate(11px);
  }

  body .header-bg-lg {
    padding-top: 120px;
    overflow: hidden;
  }

  body .header-content {
    padding-left: 0;
  }

  body .header-image-shape {
    display: none;
  }

  body .container {
    padding: 0 16px;
  }

  .form-control{
    width: 100%;
  }

  #contactForm .form-group,
  #contactForm .input-checkbox,
  #contactForm .form-button {
    width: 100%;
    padding: 0 16px!important;
  }
}

@media (max-width: 1400px){
  .container{
    width: 1140px !important;
  }
}

@media (max-width: 1200px){
  .container{
    width: 960px !important;
  }
}

@media (max-width: 991px){
  .container{
    width: 720px !important;
  }

  .header-content {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
  }
  .header-content h1 {
    font-size: 40px;
  }
  .header-content .button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-content .button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-group .main-btn {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
  }
  
}

@media (max-width: 767px){
  .container{
    width: 540px !important;
  }
  .header-content h1 {
    font-size: 25px;
  }
  .header-content .button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button-group {
    margin-top: -15px;
  }
  .header-content .button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 576px){
  .container{
    width: 100% !important;
  }
}




@media (min-width: 992px){
  .header-content h1 {
    font-size: 50px;
    opacity: 0;
  }
  .header-content p {
    opacity: 0;
  }

  .pre-loaded .header-content h1 {
    opacity: 1;
    -webkit-animation: slideInLeft 1.5s;
            animation: slideInLeft 1.5s;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  .pre-loaded .header-content p {
    opacity: 1;
    -webkit-animation: slideInLeft 1.5s;
            animation: slideInLeft 1.5s;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }

  .pre-loaded .header-image-shape img {
    opacity: 1;
    -webkit-animation: slideInDown 1.5s;
            animation: slideInDown 1.5s;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
  }

  .button-group-animated .main-btn {
    opacity: 0;
  }

  .pre-loaded .button-group-animated .main-btn {
    opacity: 1;
  }
  .pre-loaded .button-group-animated .main-btn:nth-child(1) {
    -webkit-animation: slideInUp 1.5s;
            animation: slideInUp 1.5s;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  
}

@media (min-width:1350px) {
  .header-content h1 {
    font-size: 70px;
  }
}

