---
title: Devolution
short_title: Devolution
description: We help development teams to build, deploy and optimize Cloud-native
  and on-prem applications according to the latest standards and technologies.
baseurl: 
permalink: "/:path/"
defaults:
- scope:
    path: ''
  values:
    layout: page
- scope:
    path: ''
    type: posts
  values:
    layout: post
collections:
  posts:
    output: true
jekyll-archives:
  enabled: all
  layout: archive
plugins:
- jekyll-menus
- jekyll-feed
- jekyll-archives
