    <footer id="footer" class="bg-off-white footer pt-min-100 pb-50">
      <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="footer-content-item">
                  <div class="footer-logo">
                    <a href="/"><img src="/images/devolution-logo.svg" alt="logo" width="80%"></a>
                  </div>
                  <div class="footer-details">
                    <p>We have multiple modes of operation ranging from short-term / one time jobs to long term support. </p>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 footer-social-col">
              <div class="footer-content-list footer-content-item desk-pad-left-70">
                  <div class="footer-content-title">
                    <h3>Social</h3>
                  </div>
                  <ul class="footer-details footer-list">
                    <li><a href="/">Twitter</a></li>
                    <li><a href="/">Linkedin</a></li>
                 </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 footer-legal-col">
              <div class="footer-content-list footer-content-item desk-pad-left-70">
                  <div class="footer-content-title">
                    <h3>Legal</h3>
                  </div>
                  <ul class="footer-details footer-list">
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Terms and Conditions</a></li>
                 </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 footer-contact-col">
              <div class="footer-content-list footer-content-item desk-pad-left-70">
                  <div class="footer-content-title">
                    <h3>Contact</h3>
                  </div>
                  <div class="footer-details footer-address row align-items-start">
                    <div class="col footer-address-item">
                        <div class="footer-address-text">
                          <h4>Phone:</h4>
                          <p><a href="tel:+381604020030">+381 60 4020030</a></p>
                        </div>
                    </div>
                    <div class="col footer-address-item">
                        <div class="footer-address-text">
                          <h4>Email:</h4>
                          <p><a href="mailto:info@devolut.io">info@devolut.io</a></p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- magnific popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- owl carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- nice select js -->
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- form ajazchimp js -->
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <!-- form validator js  -->
    <script src="/js/form-validator.min.js"></script>
    <!-- contact form js -->
    <script src="/js/contact-form-script.js"></script>
    <!-- meanmenu js -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- main js -->
    <script src="/js/script.js"></script>
  </body>
</html>
