
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- owl carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- nice select js -->
        <script src="/js/jquery.nice-select.min.js"></script>
        <!-- form ajazchimp js -->
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <!-- form validator js  -->
        <script src="/js/form-validator.min.js"></script>
        <!-- contact form js -->
        <script src="/js/contact-form-script.js"></script>
        <!-- meanmenu js -->
        <script src="/js/jquery.meanmenu.min.js"></script>
        <!-- main js -->
        <script src="/js/script.js"></script>

  </body>
</html>
