<section class="navigation-header">
  <nav class="container mx-auto">
    <div class="py-3 row align-items-center justify-content-between">
      <div class="col-md-4">
        <a href="/">
          <img src="/images/devolution-logo.svg" width="300" />
        </a>
      </div>
      <div class="col-md-5">
        <div class="responsive-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="row align-items-center desktop-nav">
          <div class="close-nav-btn">&times;</div>
          <a href="/" class="col nav-link active ">Home</a>
          <a href="#services" class="col nav-link">Services</a>
          <a href="#process" class="col nav-link ">Process</a>
          <a href="#about" class="col nav-link ">About</a>
          <!-- <a href="#blog" class="col nav-link ">Blog</a> -->
          <a href="#contactFormSection" class="col nav-link ">Contact</a>
      </div>
      </div>
    </div>
  </nav>
</section>
