<section class="navigation-header">
  <nav class="container mx-auto">
    <div class="py-4 md:mx-0 flex items-center justify-between">
      <div class="md:w-1/3 md:px-3 logo">
        <a href="/">
          <img src="/images/devolution-logo.svg" width="300" />
        </a>
      </div>
      <div class="md:w-5/12">
        <div class="responsive-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="flex items-center desktop-nav">
          <div class="close-nav-btn">&times;</div>
          <a href="/" class="nav-link active ">Home</a>
          <a href="#services" class="nav-link">Services</a>
          <a href="#process" class="nav-link ">Process</a>
          <a href="#about" class="nav-link ">About</a>
          <!-- <a href="#blog" class="nav-link ">Blog</a> -->
          <a href="#contactFormSection" class="nav-link ">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</section>
