{% assign page_title = 'Devolution Homepage' %}
{% assign current_page = 'homepage' %}

{% include head.html %}

<header class="header header-bg-lg header-bg-shape border-bottom-1">
  <div class="container p-lg-0">
      <div class="row m-lg-0">
          <div class="col-lg-8 p-lg-0">
              <div class="ms-auto">
                  <div class="header-content">
                      <h1>DevOps as a Service</h1>
                      <p class=" col-sm-6 mx-3">We help development teams to build, deploy and optimize Cloud-native and on-prem applications according to the latest standards and technologies.</p>
                      <div class="button-group button-group-animated">
                          <a href="#contactFormSection" class="btn main-btn">Get Started</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-image-shape">
      <img src="/images/hero.svg" alt="shape" style="width: 50vw;">
  </div>
</header>

<!-- Feature-section -->
<section id="services" class="feature-section pt-min-100 pb-70">
  <div class="container">
      <div class="section-title section-title-lg">
          <h2>What can we do for you?</h2>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-4 pb-30">
                  <div class="feature-card">
                      <div class="feature-card-header">
                          <div class="feature-card-thumb feature-card-thumb-green">
                              <i class="flaticon-machine-learning-1"></i>
                          </div>
                          <span>Architecture</span>
                      </div>
                      <div class="feature-card-body">
                          <p>Work together with our team of engineers to come up with the appropriate architecture that will suit your application-specific needs.</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 pb-30">
                  <div class="feature-card">
                      <div class="feature-card-header">
                          <div class="feature-card-thumb feature-card-thumb-yellow">
                              <i class="flaticon-voice-recognition"></i>
                          </div>
                          <span>Monitoring</span>
                      </div>
                      <div class="feature-card-body">
                          <p>Our monitoring system connects to your servers and services, gives you an overview of your most important metrics displayed in Grafana dashboards and sends alerts to your endpoint of choice (Slack, email, etc.) Our support team can provide 24/7 support and react to potential issues according to SLAs that are agreed beforehand.</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 pb-30">
                  <div class="feature-card">
                      <div class="feature-card-header">
                          <div class="feature-card-thumb feature-card-thumb-blue">
                              <i class="flaticon-machine-learning"></i>
                          </div>
                          <span>Support</span>
                      </div>
                      <div class="feature-card-body">
                          <p>Link your support email(s) with our ticketing system and let us do the communication with your customers.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Feature-section -->
<!-- Process-section -->
<section id="process" class="process-section pt-100 pb-70 bg-off-white">
  <div class="container">
      <div class="section-title section-title-lg">
          <small>Our Process</small>
          <h2>How We Help with DevOps Services</h2>
      </div>
      <div class="process-content">
          <div class="row justify-content-center equal-height">
              <div class="col-sm-6  pb-30">
                  <div class="process-item process-item-center border">
                      <div class="process-thumb">
                          <img src="/images/process/process-one.png" alt="shape">
                      </div>
                      <div class="process-text">
                          <h3>Initial meeting</h3>
                          <p>Talking with your team in order to understand your current position and goals, getting a rough idea of which technologies and services are being used and what the end result should look like.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 pb-30">
                  <div class="process-item process-item-center border">
                      <div class="process-thumb">
                          <img src="/images/process/process-two.png" alt="shape">
                      </div>
                      <div class="process-text">
                          <h3>Initial proposal</h3>
                          <p>Based on the notes we make at our first meeting(s), our team comes up with a short-term and long-term list of tasks that will get us to the goals we defined.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6  pb-30">
                  <div class="process-item process-item-center border">
                      <div class="process-thumb">
                          <img src="/images/process/process-three.png" alt="shape">
                      </div>
                      <div class="process-text">
                          <h3>Implement</h3>
                          <p>Upon agreeing on the order of tasks and timelines, our team starts working on the implementation. During this phase we will have active communication with your team, we try to iterate fast and deliver initial versions as soon as possible in order to get early feedback and prevent potential misunderstandings.</p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 pb-30">
                <div class="process-item process-item-center border">
                    <div class="process-thumb">
                        <img src="/images/process/process-one.png" alt="shape">
                    </div>
                    <div class="process-text">
                        <h3>Present</h3>
                        <p>Upon completing a milestone we present the work that has been done to the team, this has the benefit of getting the feedback from people that are actually going to use our solutions and also allowing them to better understand how things are working. We also tend to write documentation where it is applicable so it can serve as a reference in the future.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pb-30">
                <div class="process-item process-item-center border">
                    <div class="process-thumb">
                        <img src="/images/process/process-two.png" alt="shape">
                    </div>
                    <div class="process-text">
                        <h3>Repeat</h3>
                        <p>We do work in Implement/Present cycles until the task list is closed.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pb-30">
                <div class="process-item process-item-center border">
                    <div class="process-thumb">
                        <img src="/images/process/process-three.png" alt="shape">
                    </div>
                    <div class="process-text">
                        <h3>Long term support and monitoring</h3>
                        <p>(Optional) When the work that was agreed upon is done, we go into long term support mode where our team monitors infrastructure and services, proactively reacts to potential issues that are tracked via our Monitoring system and provides support for implementing smaller features.</p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- Process-section -->
<!-- Trial-section -->
<section class="trial-section pt-min-100 pb-100 bg-main page-bg page-bg-ultra">
  <div class="container">
      <div class="section-title section-title-lg section-title-white mb-0">
          <h2>We Will Help You Improve Your Business</h2>
          <p>Let’s start a conversation about how you can build or improve your software product. We’re here to help!</p>
          <a href="/" class="btn main-btn main-btn-white main-btn-rounded-icon">Get Started</a>
      </div>
  </div>
</section>
<!-- Trial-section -->
<!-- About-section -->
<section id="about" class="about-section bg-off-white pt-100 pb-70">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 pb-30">
              <div class="about-section-item about-item-image text-center">
                  <img src="/images/howdevolutionworks.svg" alt="shape">
              </div>
          </div>
          <div class="col-lg-6 pb-30">
              <div class="about-section-item about-item-details">
                  <div class="section-title section-title-left text-start">
                      <small>About Us</small>
                      <h2>Lorem ipsum dolor sit amet</h2>
                  </div>
                  <div class="about-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                      <ul>
                          <li>Lorem ipsum dolor</li>
                          <li>Lorem ipsum dolor amet</li>
                          <li>Lorem ipsum dolor</li>
                          <li>Lorem ipsum dolor amet</li>
                      </ul>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- About-section -->
<!-- Project-section -->
<!-- <section id="blog" class="project-section pt-min-100 pb-100 border-bottom-1">
  <div class="container">
      <div class="section-title section-title-lg">
          <h2>Recent blog articles we’ve written</h2>
      </div>
  </div>
  <div class="container p-md-0">
      <div class="row">
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-1.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Drone And Robot Training</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-3.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Data Mining Revolution</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-2.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Automatic Project Management</a></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- Project-section -->
<div id="contactFormSection" style="transform: translateY(-70px);"></div>
<section class="project-section pt-min-70 pb-100">
    <div>
      <div class="container">
        <div class="section-title section-title-lg">
            <h2>Let's Get In Touch!</h2>
        </div>
      </div>
      <div class="container p-md-0">
        <div class="row">
          <div class="col-xs-12 col-md-6 mx-auto">
            <form class="contact-form" id="contactForm">
              <div class="col-xs-12 col-md-6 pe-4 form-group mb-20">
                  <input type="text" name="name" id="name" class="form-control" placeholder="Your Name*" required data-error="Please enter your name" />
                  <div class="help-block with-errors"></div>
              </div>
              <div class="col-xs-12 col-md-6 ps-4 form-group mb-20">
                  <input type="text" name="email" id="email" class="form-control" placeholder="Your Email*" required data-error="Please enter your email" />
                  <div class="help-block with-errors"></div>
              </div>
              <div class="col-xs-12 col-md-12 form-group mb-20">
                  <textarea name="message" class="form-control" id="message" rows="3" placeholder="Your Question*"></textarea>
              </div>
              <div class="col-xs-12 col-md-12 input-checkbox mb-20">
                  <input type="checkbox" id="contact1">
                  <label for="contact1">Accept <a href="terms-of-service.html">Terms of Service</a> and <a href="privacy-policy">Privacy Policy</a></label>
              </div>
              <div class="col-xs-12 form-button">
                  <button class="btn main-btn full-width" type="submit">Send Message</button>
                  <div id="msgSubmit"></div>
                  <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% include footer.html %}
