{% assign page_title = 'Devolution Homepage' %}
{% assign current_page = 'homepage' %}

{% include head.html %}

<header class="header pt-30 pt-28 pb-12 lg:pt-80 lg:pb-36  header-bg-shape border-bottom-1">
  <div class="container mx-auto lg:p-0">
      <div class="flex lg:m-0">
          <div class="lg:w-2/3 lg:p-0">
              <div class="ml-auto">
                  <div class="header-content">
                      <h1 class="font-semibold">{{ page.hero.title }}</h1>
                      <p class="w-full sm:w-1/2 px-3">{{ page.hero.description }}</p>
                      {% if page.hero.display_get_started_button %}
                        <div class="button-group button-group-animated">
                            <a href="#contactFormSection" class="btn main-btn">Get Started</a>
                        </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-image-shape">
      <img src="/images/hero.svg" alt="shape" style="width: 50vw;">
  </div>
</header>

<!-- Feature-section -->
<section id="services" class="feature-section pt-min-100 pb-70">
  <div class="container mx-auto">
      <div class="section-title section-title-lg">
          <h2>{{ page.what_can_we_do_for_you_.title }}</h2>
      </div>
      <div class="container px-0">
          <div class="flex flex-wrap">
            {% for offer in page.what_can_we_do_for_you_.offers %}
              <div class="w-full md:w-1/3 md:px-4 pb-30">
                  <div class="feature-card">
                      <div class="feature-card-header">
                          <div class="feature-card-thumb feature-card-thumb-green">
                              <img src="{{ offer.icon }}" alt="" width="50">
                          </div>
                          <span>{{ offer.title }}</span>
                      </div>
                      <div class="feature-card-body">
                        <p>{{ offer.description }}</p>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</section>
<!-- Feature-section -->
<!-- About-section -->
<section id="about" class="about-section bg-off-white pt-100 pb-70">
  <div class="container mx-auto">
      <div class="flex">
          <div class="lg:w-5/12 ml-auto pb-30">
              <div class="about-section-item about-item-details">
                  <div class="section-title section-title-left text-start">
                      <small>{{ page.about_us.subtitle }}</small>
                      <h2>{{ page.about_us.title }}</h2>
                  </div>
                  <div class="about-content">
                  {{ page.about_us.description | markdownify }}
                  </div>
              </div>
          </div>
          <div class="lg:w-5/12 pb-30 ml-auto">
            <div class="about-section-item about-item-image text-center">
                <img src="{{ page.about_us.right_image }}" alt="shape">
            </div>
        </div>
      </div>
  </div>
</section>
<!-- About-section -->

<!-- Trial-section -->
<section class="trial-section pt-min-100 pb-100 bg-main page-bg page-bg-ultra">
  <div class="container mx-auto">
      <div class="section-title section-title-lg section-title-white mb-0">
          <h2>{{ page.mid_page_cta.title }}</h2>
          <p>{{ page.mid_page_cta.description }}</p>
          <a href="{{ page.mid_page_cta.button_url }}" class="btn main-btn main-btn-white main-btn-rounded-icon">{{ page.mid_page_cta.button_text }}</a>
      </div>
  </div>
</section>
<!-- Trial-section -->
<!-- Process-section -->
<section id="process" class="process-section pt-100 pb-70 bg-off-white">
  <div class="container mx-auto">
      <div class="section-title section-title-lg">
          <small>{{ page.process.subtitle }}</small>
          <h2>{{ page.process.title }}</h2>
      </div>
      <div class="process-content">
          <div class="flex flex-wrap justify-center equal-height">
            {% for item in page.process.items %}
              <div class="w-full sm:w-1/2 px-3 pb-30">
                  <div class="process-item process-item-center border relative">
                      <div class="our-process-number">{{ forloop.index }}</div>
                      <div class="process-thumb">
                          <img src="{{ item.icon }}" alt="shape">
                      </div>
                      <div class="process-text">
                          <h3>{{ item.title}}</h3>
                          <p>{{ item.description | markdownify }}</p>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</section>

<!-- Process-section -->
<!-- Project-section -->
<!-- <section id="blog" class="project-section pt-min-100 pb-100 border-bottom-1">
  <div class="container">
      <div class="section-title section-title-lg">
          <h2>Recent blog articles we’ve written</h2>
      </div>
  </div>
  <div class="container p-md-0">
      <div class="row">
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-1.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Drone And Robot Training</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-3.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Data Mining Revolution</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="project-flat-card">
                  <div class="project-flat-thumb">
                      <a href="/">
                          <img src="/images/cases/case-lg-2.jpg" alt="project">
                      </a>
                  </div>
                  <div class="project-flat-text">
                      <h3><a href="/">Automatic Project Management</a></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- Project-section -->
<div id="contactFormSection" style="transform: translateY(-70px);"></div>
<section class="project-section pt-min-70 pb-100">
    <div>
      <div class="container mx-auto">
        <div class="section-title section-title-lg">
            <h2>Let's Get In Touch!</h2>
        </div>
      </div>
      <div class="container mx-auto md:p-0">
        <div class="row">
          <div class="w-full md:w-1/2 mx-auto">
            <form class="contact-form" id="contactForm" action="https://mailthis.to/milosptr@hotmail.com" method="POST" encType="multipart/form-data">
              <div class="w-full md:w-1/2 pr-4 form-group mb-5">
                  <input type="text" name="name" id="name" class="w-full form-control" placeholder="Your Name*" required data-error="Please enter your name" />
                  <div class="help-block with-errors"></div>
              </div>
              <div class="w-full md:w-1/2 pl-4 form-group mb-5">
                  <input type="text" name="email" id="email" class="w-full form-control" placeholder="Your Email*" required data-error="Please enter your email" />
                  <div class="help-block with-errors"></div>
              </div>
              <div class="w-full form-group mb-5">
                  <textarea name="message" class="w-full form-control" id="message" rows="3" placeholder="Your Question*"></textarea>
              </div>
              <div class="w-full input-checkbox mb-5">
                  <input type="checkbox" id="contact1">
                  <label for="contact1">Accept <a href="terms-of-service.html">Terms of Service</a> and <a href="privacy-policy">Privacy Policy</a></label>
              </div>
              <input type="hidden" name="_subject" value="Contact Form Devolut.io">
              <input type="hidden" name="_after" value="https://devolut.io/">
              <input type="hidden" name="_honeypot" value="">
              <input type="hidden" name="_confirmation" value="">
              <div class="col-xs-12 text-center md:text-left form-button">
                  <button class="btn main-btn full-width" type="submit">Send Message</button>
                  <div id="msgSubmit"></div>
                  <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>

{% include footer.html %}
